.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.big-Box {
display: flex;
  flex-wrap: wrap;
}
.box {
  height: 20px;
  width: 20px;
  margin: 5px;
  border: 1px solid black;
}
.active {
  background-color: orange;
}
.active-Half {
  background-color: chocolate;
}
.inactive {
  background-color: rgb(58, 24, 0);
}
.boxinator {
  display: flex;
  flex-wrap: wrap;
}
.boxest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #634813;
  background: linear-gradient(to bottom, #ededed 5%, #faa700 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #b0a25c;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}

.myButton:hover {
  background: linear-gradient(to bottom, #faa700 5%, #ededed 100%);
  background-color: #faa700;
}

.myButton:active {
  position: relative;
  top: 1px;
}